<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
  </head>

  <body>

    <div class="container">
      <br>

      <div id="header" class="container jumbotron">
        <h1><strong>Barebones React App</strong></h1>
      </div>

      <hr class="mx-3">

      <div class="row container">
        <div class="col-sm"></div>
        <div id="content" class="col-sm jumbotron p-1 m-0"></div>
        <div class="col-sm"></div>
      </div>

      <hr class="mx-3">

      <div class="container">
        <h1>Issues</h1>
        <div class="container table-responsive-sm">
          <table class="table-sm table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Issue #</th>
                <th scope="col">Description</th>
                <th scope="col">Severity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">420</th>
                <td>Problem loading files from directory</td>
                <td>RED</td>
              </tr>
              <tr>
                <th scope="row">423</th>
                <td>There is sometimes an issue when creating new issues inside the new issue manager</td>
                <td>GREEN</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <script src="bundle.js"></script>
  </body>

</html>
